<h1>Login to your account</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="field">
    <%= f.text_field :email,
      placeholder: 'Email'
    %>
  </div>
  <div class="field">
    <%= f.password_field :password,
      autocomplete: "off",
      placeholder: 'Password'
    %>
  </div>
  <%= f.submit "Log in", class: "button" %>
  <%= button_to "Create an account", new_user_path, class: "button secondary" %>
<% end %>
