<h1>Create your account</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div class="field">
    <%= f.text_field :username,
      autofocus: true,
      placeholder: 'Username'
    %>
  </div>
  <div class="field">
    <%= f.text_field :email,
      placeholder: 'Email'
    %>
  </div>
  <div class="field">
    <%= f.password_field :password,
      autocomplete: "off",
      placeholder: 'Password'
    %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation,
      autocomplete: "off" ,
      placeholder: 'Confirm Password'
    %>
  </div>
  <%= f.submit "Create account", class: "button" %>
  <%= link_to "Login page", new_session_path, class: "button secondary" %>

<% end %>
