<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% flash.each do |key, value| %>
      <% if value.class == Array %>
        <% value.each do |message| %>
          <%= message %> <br>
        <% end %>
      <% elsif !value.blank? %>
        <%= value %>
      <% end %>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
